

body {
    background-color: #333;
    font-family: 'Roboto Mono', monospace;
    color:lightgrey;
}


.nav{
    overflow: hidden;
  background-color: #222;
  position: fixed; 
  top: 0; 
  width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav a:hover {
    background: #ddd;
    color: black;
}

.body {
    margin-top: 30px;
  }

.header { text-align: center;
    font-weight: bolder;
}


.heading_style{
      text-align: center; 
  }

.box {display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 100%
}


.box_image {
  flex-basis: 40%
}
.box_text {
  padding-left: 20px;
}

.app_image {
    flex-basis: 40%;
    width: 368px;
    height: 706px;
    padding-right: 20px;
}