

body {
    background-color: #333333;
    font-family: 'Roboto Mono', monospace;
    color:lightgrey;
}


.nav{
    overflow: hidden;
  background-color: #222;
  position: fixed; 
  top: 0; 
  width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav a:hover {
    background: #ddd;
    color: black;
}

.body {
    margin-top: 30px;
  }

.header { text-align: center;
    font-weight: bolder;

  }

  .header_image{max-width:100%;height:auto}img{vertical-align:middle}